.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1c1c1c;
    margin-bottom: 20px;
  }
  
  .header-logo {
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  .header-description {
    text-align: center;
    color: #f0f0f0;
    font-size: 1.2em;
  }
  